.FAQ{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    margin-bottom:5%;
}
.FAQ summary{
    background-color:rgb(25, 101, 0);
    color:white;
    text-align: left;
    margin-top:2%;
    margin-bottom:2cqw;
    font-size: larger;
    padding:0% 2% 0%;
    /* 1. Set the initial state */
    border-radius: 5px;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), 
                box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle "resting" shadow */
}
.FAQ summary:hover{
    transform: translateY(-5px); /* Moves the box up 5 pixels */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.367); /* Deep, soft green shadow */
}

.FAQ details{
    text-align: left;
    margin-top:1%;
    margin-bottom:1%;
    cursor:pointer;
}